.container {
  position: absolute;
  right: 15px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  top: 100px;
  width: fit-content;
  cursor: pointer;
  width: 20%;
}

.contact-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
