.info-card {
  padding: 0 24px;
  border-radius: 15px;
  height: 150px;
  padding-bottom: 20px;
  text-align: center;
  flex: 0.23;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}