.child-site-layout .site-layout-background {
  background: #fff;
}

.site-layout {
  min-height: 100vh;
}

.content-layout {
  margin: 0 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
.footer-layout {
  text-align: center;
}
