.info-card {
  padding: 0 24px;
  border-radius: 15px;
  width: 200px;
  line-height: 200px;
  height: 200px;
  padding-bottom: 20px;
  text-align: center;
}

.center {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-value {
  font-size: 100px;
}